body {
    background-image: url('/static/images/space.jpg');
    background-size: cover; /* 배경 이미지가 창에 꽉 차도록 설정 */

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.container {    
    width: 95%;
    max-width: 1200px;
    margin-top: 50px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-box input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    margin-right: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.search-box button {
    padding: 10px;
    width: 20%;
    min-width: 80px; /* 버튼의 최소 너비를 설정 */
    font-size: 16px;
    margin-left: 5px;
    border: none;
    background-color: #000000; /* 2024년 트렌드 컬러 */
    color: white;
    font-weight: bold; /* 글자를 굵게 설정 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; /* 배경 색상에 대한 애니메이션 효과 */
    cursor: pointer;
    white-space: nowrap; /* 글자가 버튼 밖으로 나가지 않도록 설정 */
    text-align: center; /* 텍스트를 중앙 정렬 */
}


.search-box button:hover {
    background-color: #707070; /* 마우스 호버 시 색상 변경 */
}

.results-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.results {
    background: #f9f9f9; /* 새로운 배경색상 적용 */
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* 모서리를 라운드 처리 */
}
.results h2 {
    margin-top: 0;
}

.results table {
    width: 100%;
    border-collapse: collapse;
}

.results th, .results td {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff; /* 각 셀의 배경색상을 흰색으로 설정 */
}
.results th {
    background-color: #000000;
    color: white;
}

.results td {
    width: 20%;
}

.results td:nth-child(2) {
    width: 70%;
}

.results td:nth-child(3) {
    width: 10%;
}

.results a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.results td:nth-child(2):hover {
    background-color: rgba(0, 0, 0, 0.1); /* 호버 시 배경색 변경 */
    transition: background-color 0.3s ease; /* 애니메이션 효과 추가 */
}

/* Google News 색상 */
.google-color-1 { color: #4285F4; } /* 파란색 */
.google-color-2 { color: #EA4335; } /* 빨간색 */
.google-color-3 { color: #FBBC05; } /* 오렌지 */
.google-color-4 { color: #4285F4; } /* 파란색 */
.google-color-5 { color: #34A853; } /* 그린 */
.google-color-6 { color: #EA4335; } /* 빨간색 */

/* Daum News 색상 */
.daum-color-1 { color: #0066FF; } /* 파란색 */
.daum-color-2 { color: #34A853; } /* 그린 */
.daum-color-3 { color: #FBBC05; } /* 오렌지 */
.daum-color-4 { color: #EA4335; } /* 빨간색 */

/* Naver News 색상 */
.naver-color { color: #2DB400; } /* 네이버 그린 */